.calc {
    width: 400px;
    background-color: black;
    color: white;
}

.screen {
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: azure;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: beige;
}

.calc-button:active {
    background-color: aqua;
}

.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-button:last-child {
    background-color: blueviolet;
    color: chartreuse;
}

.calc-button:last-child:hover {
    background-color: cornflowerblue;
}

.calc-button:last-child:active {
    background-color: aliceblue;
}

.calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button:last-child {
    padding-bottom: 0%;
}